[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git

[submodule "external/PIMLibrary"]
	path = external/PIMLibrary
	url = https://github.com/SAITPublic/PIMLibrary.git
